@{
    ViewData["Title"] = "User Profile";
}
<h2>User Profile for @User.Identity.Name</h2>
<p>This page can only be accessed if the user is authenticated.</p>
<h3>User Claims</h3>
<p>
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li>@claim.Type : @claim.Value</li>
        }
        <li>IdToken: @ViewData["IdToken"]</li>
        <li>AccessToken: @ViewData["AccessToken"]</li>
        <li>AccessTokenExpires: @ViewData["AccessTokenExpires"]</li>
        <li>TokenType: @ViewData["TokenType"]</li>
        <li>RefreshToken: @ViewData["RefreshToken"]</li>
    </ul>
</p>